@media (max-width: 1199px) {
  section,
  .section {
    scroll-margin-top: 66px;
  }
}

section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 90px;
  overflow: clip;
}
*,
::after,
::before {
  box-sizing: border-box;
}

.clients .swiper {
  padding: 10px 0;
}
.swiper-horizontal {
  touch-action: pan-y;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}
