<header
  id="header"
  class="header d-flex align-items-center fixed-top"
  style="background-color: rgb(105, 18, 87); color: white; height: 80px"
>
  <div class="container d-flex align-items-center justify-content-between">
    <!-- Logo -->
    <a
      routerLink="/home"
      class="logo d-flex align-items-center me-auto me-xl-0"
    >
      <img
        src="/assets/img/images/473103358_28586197900978806_509761363619108556_n.jpg"
        alt=""
      />
      <!-- Use image logo if needed -->
      <!-- <img src="assets/img/logo.webp" alt="Logo" /> -->
      <h1
        class="sitename"
        style="
          color: rgb(227, 203, 174);
          font-size: 30px;
          text-decoration: none;
        "
      ></h1>
    </a>

    <!-- Navigation Menu -->
    <nav id="navmenu" class="navmenu">
      <ul
        [class.active]="isMenuOpen"
        style="color: white; height: 320px; font-weight: bold"
      >
        <li>
          <a routerLink="/home" routerLinkActive="active" (click)="closeMenu()"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/about-us"
            routerLinkActive="active"
            (click)="closeMenu()"
            >About</a
          >
        </li>
        <!-- <li>
          <a
            routerLink="/clients"
            routerLinkActive="active"
            (click)="closeMenu()"
            >Clients</a
          >
        </li> -->
        <li>
          <a
            routerLink="/features"
            routerLinkActive="active"
            (click)="closeMenu()"
            >Features</a
          >
        </li>
        <li>
          <a
            routerLink="/services"
            routerLinkActive="active"
            (click)="closeMenu()"
            >Services</a
          >
        </li>
        <li>
          <a
            routerLink="/contact"
            routerLinkActive="active"
            (click)="closeMenu()"
            >Contact</a
          >
        </li>
      </ul>

      <!-- Mobile toggle button -->
      <i
        class="mobile-nav-toggle d-xl-none bi"
        [ngClass]="isMenuOpen ? 'bi-x' : 'bi-list'"
        (click)="toggleMenu()"
      ></i>
    </nav>

    <!-- Get Started Button -->
    <a class="btn-getstarted" routerLink="/home#about">Get Started</a>
  </div>
</header>
